.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: #F5F5DC;
}

th {
  text-align: left;
}

h5 {
  text-align: center;
  color: #2dbe60;
}

a {
  text-decoration: none;
}

.show {
  border: 1px black solid;
}

#title, .content {
  margin-left: 30px;
}

#new {
  margin-bottom: 15px;
}

li {
  list-style: none;
}

h1 {
  color: #2dbe60;
}