<div class="container">
  <h1>NEVERNOTE</h1>
  <% @notes.each do |note| %>
  <table>
    <p>note: <%= note.title %></p>
    <p><%= note.content %></p>
  </table>
  <% end %>
</div>

<!-- <div class="container">
    <%= markdown_to_html @readme_content %>
</div>
 -->