<div class="container">
  <h1>New Note</h1>

  <form action="/notes" method="POST">
    <input type="text" name="note[title]" value="Title" onclick="this.select()">
    <input type="text" name="note[content]" value="Content" onclick="this.select()">
    <input type="submit" value="Submit" >
  </form>

  <% if @error %>
    <h4>Please enter BOTH title & content!</h4>
  <% end %>
</div>